packages/subgraph/subgraph.yaml
packages/subgraph/generated
packages/subgraph/abis/*
packages/hardhat/*.txt
**/aws.json

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
**/node_modules

packages/hardhat/artifacts*
packages/hardhat/deployments/hardhat
packages/hardhat/deployments/localhost
packages/react-app/src/contracts/*
!packages/react-app/src/contracts/external_contracts.js
!packages/react-app/src/contracts/contracts.js
packages/hardhat/cache*
packages/**/data


# ts
packages/hardhat-ts/cache
typechain
*.tsbuildinfo

# secrets
.secret

packages/subgraph/config/config.json

# Tenderly
tenderly.yaml

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
coverage

# production
build

# yarn / eslint
.yarn/cache
.yarn/install-state.gz
.yarn/build-state.yml
.eslintcache

#Hardhat files
cache
artifacts

# misc
.DS_Store
.env*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea
.vscode
.vs

# Local Netlify folder
.netlify

*.stackdump
.yalc
yalc.lock
packages/vite-app-ts/dist
