[submodule "packages/advanced/services/arbitrum"]
	path = packages/advanced/services/arbitrum
	url = https://github.com/OffchainLabs/arbitrum
	branch = master
[submodule "packages/advanced/services/optimism"]
	path = packages/advanced/services/optimism
	url = https://github.com/ethereum-optimism/optimism
	branch = regenesis/0.4.0
